# Dependencies
node_modules/

# Build output
dist/

# Astro cache
.astro/

# Environment files
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
